.container-xl {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    padding: 0px;
    margin-top:6%;
    
    .table-responsive {
        margin: 30px 0;
        .table-wrapper {
            background: #fff;
            padding: 20px 25px;
            border-radius: 3px;
            min-width: 1000px;
            box-shadow: 0 1px 1px rgb(0 0 0 / 5%);

            .table-title {
                padding-bottom: 15px;
                background: #64437d;
                color: #fff;
                padding: 16px 30px;
                min-width: 100%;
                margin: -20px -25px 10px;
                border-radius: 3px 3px 0 0;
                .btn {
                    color: #fff;
                    float: right;
                    font-size: 13px;
                    border: none;
                    min-width: 50px;
                    border-radius: 2px;
                    border: none;
                    outline: none !important;
                    margin-left: 10px;
                    i {
                        float: left;
                        font-size: 21px;
                        margin-right: 5px;
                    }
                    span {
                        float: left;
                        margin-top: 2px;
                    }
                }
            }
            .table-content {
                .center-align{
                    text-align: center;
                }
                .delete {
                    color: #f44336;
                    padding: 5px;
                }
                .edit {
                    color: #ffc107;
                    padding: 5px;
                }
                .view {
                    color: #0d6efd;
                }
            }
        }
    }
}
